node_modules/
.yarn/
dist/
build/
.cache/
out/
lib/
# allow source libs in frontend
!packages/frontend/src/lib/
!packages/frontend/src/lib/**
.DS_Store
.env

packages/contracts/lib/
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/